:root{
    --primary-color: white;
    --primary-color-highlight: white;
    --bs-body-font-family: 'Roboto Mono', monospace;
    --head_color: #20C20E;
}

/* Hero section */

.hero{
    position: relative;
    height: 100vh;
    background-color:var(--primary-color);
    overflow: hidden;
    background-image: url('../images/astro.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 2;
}
.hero::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(15, 10, 2, 0.137);
    z-index: -1;

}

h1, h2, h3, h4, h5, h6,
.display-3{
    color: var(--head_color);

}

@media  (max-width: 1024px) {
    .hero {
        background-image: url('../images/astro_mb.jpg');
    }
}