:root {
  --primary-color: white;
  --primary-color-highlight: white;
  --bs-body-font-family: "Roboto Mono", monospace;
  --head_color: white;
  --hover-color: green;
}

html {
  scroll-behavior: smooth;
}

/* Hero section */
.hero {
  position: relative;
  height: 100vh;
  background-color: var(--primary-color);
  overflow: hidden;
  background-image: url("../images/paper.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  z-index: 2;
}

.hero::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.938);
  z-index: -1;
}

.abt {
  position: relative;
  height: 100vh;
  background-color: var(--primary-color);
  overflow: hidden;
  background-image: url("../images/paper.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  z-index: 2;
}

.abt::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.938);
  z-index: -1;
}

.ah {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/* Typing animation*/
.text-typing {
  margin: 0px;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 2.6s steps(22, end) forwards, blink 1s infinite;
}

@keyframes typing {
  0% {
    width: 0%;
  }

  80% {
    width: 100%;
  }
}

@keyframes blink {

  0%,
  100% {
    border-right: 2px solid transparent;
  }

  50% {
    border-right: 2px solid #222;
  }
}

/* Heading configurations*/
h1,
h2,
h3,
h4,
h5,
h6,
p,
.display-5 {
  color: var(--head_color);
}

.greet {
  color: rgb(24, 118, 224);
}

.hello_msg {
  color: green;
}

/*About me btn*/
.hero_scroll-btn {
  position: absolute;
  left: 50%;
  bottom: 30px;
  transform: translate(-50%);
  z-index: 1;
  color: white;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--bs-body-font-family);
}

.kepler {
  color: cadetblue;
}

.kepler:hover {
  color: darkcyan;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: var(--hover_color);
}

/*About me button animation*/
.hero_scroll-btn .bi {
  transition-delay: 0.8s;
  animation: hop 1s infinite alternate;
}

.floating {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;

  display: block;
  margin: 0 auto;
}

@keyframes floating {
  from {
    transform: translate(0, 0px);
  }

  65% {
    transform: translate(0, 15px);
  }

  to {
    transform: translate(0, -0px);
  }
}

@keyframes hop {
  from {
    transform: translateY(0px);
  }

  to {
    transform: translateY(10px);
  }
}

/*about me section*/

.abt {
  padding-top: 40px;
  padding-bottom: 40px;
}

.abt_content-width {
  max-width: 456px;
  margin: 0 auto;
}

.abt-brack {
  color: rebeccapurple;
}

.abt_cl {
  color: darkmagenta;
}

/*Media*/
@media (max-width: 1024px) {
  .display-5 {
    font-size: medium;
  }

  p {
    text-align: center;
  }

  .abt {
    padding-top: 500px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 400px;
  }
}

@media (min-width: 544px) {
  .abt {
    padding-top: 80px;
    padding-left: 80px;
  }
}

.blur {
  background: rgba(0, 0, 0, 0.938);
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: white;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/*new nav bar stuff not active atm*/
.primary-navigation {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.primary-header {
  justify-content: space-between;
  justify-items: center;
}

.flex {
  display: flex;
  gap: 1rem;
}

.loading:after {
  content: '.';
  animation: dots 2s steps(1, end) infinite;
}

@keyframes dots {

  0%,
  20% {
    color: rgba(0, 0, 0, 0);
    text-shadow:
      .25em 0 0 rgba(0, 0, 0, 0),
      .5em 0 0 rgba(0, 0, 0, 0);
  }

  40% {
    color: white;
    text-shadow:
      .25em 0 0 rgba(0, 0, 0, 0),
      .5em 0 0 rgba(0, 0, 0, 0);
  }

  60% {
    text-shadow:
      .25em 0 0 white,
      .5em 0 0 rgba(0, 0, 0, 0);
  }

  80%,
  100% {
    text-shadow:
      .25em 0 0 white,
      .5em 0 0 white;
  }
}

.name {
  margin-left: auto;
  margin-right: auto;
}

.wrapper {
  display: flex;
  justify-content: center;

}

.card {
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 210px 210px 80px;
  grid-template-areas: 'img''text''link';

  font-family: "Railway", sans-serif;
  border-radius: 18px;
  background: black;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  text-align: center;
  transition: 0.5s ease;
  margin: 10px;
}

.card-img {
  grid-area: img;
  background: url('../projectimg/img_pass.png');
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
}

.card-img2 {
  grid-area: img;
  background: url('../projectimg/img_g.png');
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
}

.card-img3 {
  grid-area: img;
  background: url('../projectimg/img_dice.png');
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
}

.card-img4 {
  grid-area: img;
  background: url('../projectimg/img_hat.jpeg');
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
}

.card-text {
  grid-area: text;
  margin: 25px;
  text-align: center;
  color: white;
}

.git-link {
  grid-area: link;

}

a {
  color: #ffc247;
}

a :hover {
  cursor: pointer;
}

.card:hover {
  transform: scale(1.08);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}

.name {
  padding-top: 0%;

}


@media (max-width: 950px) {

  html {
    background: #ffc247;
    width: 100%;
    height: 100%;
    display: block;
    justify-content: center;
    align-items: center;
    background: #ffc247;



  }

  .wrapper {

    display: inline;
    margin-left: auto;
    margin-right: auto;


  }


  .card {

    display: block;
    grid-template-columns: 300px;
    grid-template-rows: 2100px 2100px 80px;
    grid-template-areas: 'img''text''link';
    height: 250px;
    font-family: "Railway", sans-serif;
    border-radius: 18px;
    background: black;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
    text-align: center;
    margin: 10px;
  }


  .card-text {

    grid-area: text;
    padding-top: 2%;
    color: white;
  }

  a {
    color: b#ffc247;
    padding-bottom: 2%;
  }

  .name {
    color: black;
    font-size: medium;
    text-align: center;


  }




}